.mainContainer {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow: scroll;
    padding: 2rem;
}

.cardContainer {
    width: 20vw;
    min-width: 30rem;
    height: 60vh;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    transition: 1s;
    cursor: pointer;
    margin: 0 auto;
}

.imgContainer {
    height: 70%;
    overflow: hidden;
}

.img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

.textContainer {
    width: 100%;
    height: 40%;
    text-align: center;
    align-content: center;
    line-height: 3rem;

}

.title {
    font-size: 2em;
    font-weight: 600;
}

.category {
    font-size: 1.5em;
}

.price {
    font-size: 1.5em;
    ;
}

.checkButton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    width: 3.0rem;
    margin: auto;
    background-color: rgb(84, 202, 55);
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.storeMenu {
    display: flex;
    width: 100%;
    height: auto;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.menuButton {
    padding: 2rem;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}