.mainContainer {
    position: relative;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    overflow: scroll;
    padding: 2rem;
}

.cardContainer {
    width: 20vw;
    min-width: 30rem;
    height: 57vh;
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    transition: 1s;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 2.5em;
    border: 4px solid var(--hover--color);
    border-radius: 2px;

}

.imgContainer {
    height: 70%;
    overflow: hidden;
    border-bottom: 4px solid var(--hover--color)
}

.img {
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

.textContainer {
    width: 100%;
    height: 40%;
    text-align: center;
    align-content: center;
    line-height: 3rem;

}

.title {
    width: 70%;
    margin: auto;
    font-size: 2em;
    font-weight: 600;
    border-bottom: 1px dashed var(--text--color);
    text-transform: uppercase;
}

.category {
    font-size: 1.5em;
    width: 70%;
    margin: auto;
    border-bottom: 1px dashed var(--text--color);
}

.price {
    width: 70%;
    margin: auto;
    font-size: 1.7rem;
    font-weight: 600;

}

.checkButton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    width: 3.0rem;
    margin: 1rem auto;
    background-color: var(--hover--color);
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.storeMenu {
    display: flex;
    position: absolute;
    top: 16em;
    margin: auto;
}

.menuButton {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background--color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);

}

.button {
    background-color: var(--background--color);
    width: 20rem;
    padding: 2rem;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 2rem;
    border: none;
    border-bottom: 1px dashed var(--hover--color);
}

.button:hover {
    background-color: var(--hover--color);
    color: var(--background--color);
}

.showMenu {
    position: relative;
    padding: 1.4rem;
    margin: auto;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: var(--text--color2);
    color: var(--background--color)
}

.showMenu:hover {
    background-color: var(--text--color);

}

.cart {
    position: absolute;
    padding: 1.4rem;
    align-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    background-color: var(--text--color2);
    color: var(--background--color)
}

.cart:hover {
    background-color: var(--text--color);
}


.menuContainer {
    display: flex;
    width: 100%;
    margin-bottom: 2vh;
    padding: 0 3rem 0 3rem;
}


.cartContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 16em;
    width: 25rem;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--background--color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
    max-height: 70vh;
    overflow: scroll;
}

.cartContent {
    text-align: center;
    color: var(--text--color);
    font-size: 2rem;
    padding: 2rem;
    border-bottom: 1px dashed var(--text--color);
}

.cartContent:hover {
    background-color: var(--text--color2);
    color: var(--background--color);
    text-decoration: line-through;
}

.buyButton {
    text-align: center;
    background-color: var(--text--color2);
    color: var(--background--color);
    font-size: 2rem;
    padding: 1rem;
    border-bottom: 1px dashed var(--text--color2);
    border-radius: 0 0 5px 5px;
}

.buyButton:hover {
    background-color: var(--text--color);
    color: var(--background--color);
}

.buyModal {
    position: absolute;
    background-color: var(--background--color);
    height: 20vh;
    width: 40vw;
    color: var(--text--color);
    padding: 2rem;
    font-size: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 3px solid var(--text--color);
    text-align: center;
    align-content: center;
}