.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border: 1px solid rgb(46, 46, 46);
    height: 6rem;
    text-transform: uppercase;
}

.logo {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
}

.button {
    padding: 1.2rem;
    margin-left: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: crimson;
}