.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 6rem;
    text-transform: uppercase;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.200);
}

.logo {
    font-size: 2.2rem;
    letter-spacing: 0.5rem;
    color: var(--text--color);
    cursor: default;
}

.button {
    width: 6rem;
    padding: 0.6rem;
    margin-left: 1rem;
    text-transform: uppercase;
    border: none;
    background-color: var(--text--color2);
    color: white;
    border-radius: 3px;
    font-weight: 400;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--text--color);
}

.modalContainer {
    position: absolute;
    background-color: var(--background--color);
    color: var(--text--color);
    padding: 2rem;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 3px solid var(--text--color);
    z-index: 2;
    text-align: center;
}
